@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;
@use "../.././../../libs/shared-assets/_styles/layout.scss" as layout;

:host {
    mat-dialog-actions {
        height: 88px;
        margin-top: 24px;
        border-top: 1px solid var(--neutral-4);

        button {
            &:nth-of-type(2) {
                background-color: var(--primary-0);
            }

            &:nth-of-type(1) {
                color: var(--primary-0);
            }

        }
    }

    mat-dialog-content {
        @include mixins.flex(column, center, center, 16px);

        p {
            text-align: center;
        }

        .main-text {
            font-size: 22px;
            line-height: 28px;
        }
    }

    img {
        @include mixins.size(88px, 80px);
    }

    .dialog-header {
        @extend .dialog-header;
    }
}