@use '../.././libs/shared-assets/_styles/mixins.scss' as mixins;

.routing-container {
  height: 100vh;

  mat-sidenav {
    @include mixins.flex(column);
    @include mixins.size(200px);

    app-sidenav {
      @include mixins.flex(column);
      height: 100%;
    }
  }

  .main {
    height: 100%;
  }
}