<div class="background-cover">
	@if(!shouldDisplayDialog) {
	<div class="form-container">
		<div mat-button class="logo-container flex-column-center">
			<p class="logo-text">{{ 'general.logo' | translate }}</p>
		</div>

		<div class="header">
			<p class="bold">{{ title | translate }}</p>

			@if (isRecoverPath()) {
			<p>{{ 'recover.subtitle' | translate }}</p>
			}
		</div>

		<form [formGroup]="form">
			@if(isRecoverPath()) {
			<mat-form-field class="inputs" appearance="outline">
				<mat-label>{{ 'email.label' | translate }}</mat-label>
				<input
					matInput
					maxlength="256"
					placeholder="{{ 'email.label' | translate }}"
					formControlName="email"
					[errorStateMatcher]="matcher" />

				<mat-error>
					{{ emailError | translate }}
				</mat-error>
			</mat-form-field>

			<re-captcha formControlName="reCaptchaResponse"></re-captcha>
			} @else {
			<mat-form-field class="inputs" [class.error-space]="isInvalidPassword()" appearance="outline">
				<mat-label>{{ 'password.newPassword' | translate }}</mat-label>
				<input
					matInput
					[type]="'password'"
					maxlength="256"
					placeholder="{{ 'password.newPassword' | translate }}"
					formControlName="password"
					[errorStateMatcher]="matcher" />

				<mat-error>
					{{ passwordError | translate }}
				</mat-error>
			</mat-form-field>

			<mat-form-field class="inputs" appearance="outline">
				<mat-label>{{ 'password.confirmPassword' | translate }}</mat-label>
				<input
					matInput
					[type]="'password'"
					maxlength="256"
					placeholder="{{ 'password.confirmPassword' | translate }}"
					formControlName="confirmPassword"
					[errorStateMatcher]="matcher" />

				<mat-error>
					{{ confirmPasswordError | translate }}
				</mat-error>
			</mat-form-field>
			}
		</form>

		<button mat-flat-button class="form-button" [disabled]="!form.valid" (click)="performAction()">
			{{ buttonText | translate }}
		</button>
	</div>
	}
</div>
