@use '../.././../../libs/shared-assets/_styles/mixins.scss' as mixins;

:host {
    overflow: hidden;

    .button-container {
        @include mixins.flex(row, flex-end);
        padding: 32px;

        button {
            background-color: var(--theme-500);
        }
    }

    .mat-elevation-z8 {
        box-shadow: none;
        margin: 32px;
    }

    .table-container {
        max-height: 580px;
        overflow-y: auto;
        scrollbar-width: thin; 
    }

    .mat-mdc-table {
        background-color: var(--neutral-0);
    }

    .status-container {
        @include mixins.flex(row, flex-start, center);
        gap: 8px;
    }


    .status-icon {

        &.pending {
            color: var(--warning-200);
        }

        &.approved {
            color: var(--success-200);
        }

        &.rejected {
            color: var(--danger-200);
        }
    }

    .action-icon {

        &.pending,
        &.approved {
            color: var(--neutral-500);
        }

        &.rejected {
            color: var(--neutral-200);
        }
    }

    .action-icons {
        display: flex;
        gap: 16px;
    }

    .action-icon[disabled] {
        cursor: not-allowed;
    }

    .empty-state {
        height: 100%;
    }
}