<div class="background-cover">
	<div class="form-container">
		<div mat-button class="logo-container flex-column-center">
			<p class="logo-text">{{ 'general.logo' | translate }}</p>
		</div>

		<div class="header">
			<p class="bold">{{ 'login.title' | translate }}</p>
			<p>{{ 'login.subtitle' | translate }}</p>
		</div>

		<form [formGroup]="form">
			<mat-form-field class="inputs" appearance="outline">
				<mat-label>{{ 'email.label' | translate }}</mat-label>
				<input
					matInput
					maxlength="256"
					placeholder="{{ 'email.label' | translate }}"
					formControlName="email"
					[errorStateMatcher]="matcher" />
				@if (hasRequiredError(form, 'email')) {
				<mat-error>
					{{ 'email.error.emailRequired' | translate }}
				</mat-error>
				} @if (hasPatternError(form, 'email')) {
				<mat-error>
					{{ 'email.error.validEmail' | translate }}
				</mat-error>
				}
			</mat-form-field>

			<mat-form-field class="inputs" appearance="outline">
				<mat-label>{{ 'password.label' | translate }}</mat-label>
				<input
					matInput
					[type]="'password'"
					maxlength="256"
					placeholder="{{ 'password.label' | translate }}"
					formControlName="password"
					[errorStateMatcher]="matcher" />
				@if (hasRequiredError(form, 'password')) {
				<mat-error>
					{{ 'password.error.passwordRequired' | translate }}
				</mat-error>
				}
			</mat-form-field>
			@if (userIsBlocked) {
			<re-captcha formControlName="reCaptchaResponse"></re-captcha>
			}
			<div class="remember-forgot flex-row-spaced" [class.captcha-active-margin]="userIsBlocked">
				<mat-checkbox aria-label="{{ 'general.rememberMe' | translate }}" formControlName="rememberMe">
					{{ 'general.rememberMe' | translate }}
				</mat-checkbox>
				<p
					class="pointer"
					(keyup.enter)="navigateToForgotPass()"
					(keyup.space)="navigateToForgotPass()"
					(click)="navigateToForgotPass()"
					tabindex="0">
					{{ 'general.forgotPassword' | translate }}
				</p>
			</div>
		</form>

		<button mat-flat-button class="form-button" [disabled]="!form.valid" (click)="login()">
			{{ 'login.title' | translate }}
		</button>
	</div>
</div>
